@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

/* ----------------- */
/* BODY */
/* ----------------- */

.material-icons {
    font-size: 16px;
}

.pdv span {
    text-decoration: none;
    font-size: 22px;
    color: var(--secondary-color);
}

.datatable-container {
    color: var(--secondary-color);
    width: 600px;
    margin: 0 auto;
    padding: var(--dt-padding);
    font-size: 1em;
    /* border: solid 2px var(--secondary-color); */
    border-radius: var(--dt-border-radius);
}

.datatable-container .header h1 {
    text-align: center;
    margin-bottom: 35px;
}

.datatable-container .header .add div {
    margin: var(--dt-padding) 0;
}

.datatable-container .header .add #btn-task-form {
    margin-bottom: var(--dt-padding);
}

.datatable-container .header .add input {
    padding: 5px;
    margin: 5px 0;
    border: solid 1px var(--secondary-color);
    border-radius: var(--dt-border-radius);
    outline: none;
}

.datatable-container .header-tools {
    margin: 12px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.datatable-container .header-tools .search {
    width: 40%;
    margin-bottom: 20px;
}

.datatable-container .header-tools .search .search-input {
    width: 100%;
    height: 30px;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    border: solid 1px var(--secondary-color);
    border-radius: var(--dt-border-radius);
    outline: none;
}

.datatable-container .header-tools .tools {
    width: 70%;
}

.datatable-container .header-tools .tools ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container .header-tools .tools ul li {
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container .header-tools .tools button {
    color: var(--secondary-color-color);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--secondary-color);
    background-color: transparent;
    cursor: pointer;
    padding: var(--dt-padding-s);
}

.datatable-container .header-tools .tools button:hover {
    background-color: var(--highlight-color);
    border-radius: var(--dt-border-radius);
}

.boton {
    color: var(--secondary-color-color);
    box-sizing: border-box;
    outline: none;
    border: solid 1px --secondary-color;
    border-radius: var(--dt-border-radius);
    background-color: transparent;
    cursor: pointer;
    padding: var(--dt-padding-s);
}

.moneda {
    font-size: 10px;
}

.precio {
    font-size: 18px;
    font-weight: 600;
}

.boton:hover {
    background-color: var(--highlight-color);
    border-radius: var(--dt-border-radius);
}

.datatable-container .datatable {
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable td {
    border-top: solid 1px var(--secondary-color);
}

.datatable-container .datatable tbody tr:nth-child(even) {
    background-color: var(--highlight-color);
}

/* .datatable-container .datatable tbody tr:hover {
    background-color: var(--highlight-color);
} */


/* ---------------------- */
/* SISTEMA DE VENTAS */
/* --------------------- */

:root {
    --sdv-primary-color: #484848;
    --sdv-secondary-color: #FFFF;
    --sdv-highlight-color: #F1F1F1;
    --sdv-alea-color: #313131;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.h1-bg {
    background-color: var(--sdv-primary-color);
}

.sdv-h1 {
    color: var(--sdv-secondary-color);
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 30px;
}

.static {
    width: 100%;
    position: fixed;
    top: 0;
}

.total-content {
    background-color: var(--sdv-alea-color);
    width: 100%;
}

.total-content span {
    color: var(--sdv-secondary-color);
}

.total-content input {
    height: 80%;
    width: 40%;
    color: white;
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.total-content .total-cuerpo {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lat2 {
    background: var(--sdv-primary-color);
    width: 100%;
}

.lat2-bg {
    height: 60px;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.lat2 input {
    height: 80%;
    width: 40%;
    color: white;
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.pdv-container {
    margin-top: 90px;
}

.pdv-container p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lat1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.valores-bg {
    width: 100%;
    background-color: #F1F1F1;
    margin-bottom: 5px;
}

.valores {
    height: 90px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.valores span {
    font-size: 22px;
}

.valores input {
    height: 80%;
    width: 100%;
    color: #484848;
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}